<ion-view>
  <ion-nav-title>
    {{ ctrl.masjid ? ctrl.masjid.name : 'Masjid Not Set' }}
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button" ng-disabled="ctrl.isLoading" ng-click="ctrl.loadTimings(ctrl.masjid, ctrl.displayedDate)">
      <i class='ion-refresh'></i>
    </button>
    <button class="button" ng-disabled="ctrl.isLoading" ng-click="ctrl.showMonthPicker()">
      <i class='ion-calendar'></i>
    </button>
  </ion-nav-buttons>
  <ion-content class='monthly-timings' scroll="false">
    <div class='loading' ng-if='ctrl.isLoading'>
      Loading... <ion-spinner></ion-spinner>
    </div>
    <div class='error' ng-if='ctrl.errorMsg'>
      {{ ctrl.errorMsg }}
    </div>


    <div class='card' ng-if="ctrl.displayedDate && !ctrl.isThisMonth(ctrl.displayedDate)" ng-click="ctrl.resetDate()">
      <div class='item item-text-wrap'>
        <i class='ion-alert-circled'></i> Timings for {{ ctrl.displayedDate | date:'MMMM y' }}.<br/>
        Tap to show this month's timings.
      </div>
    </div>

    <div class="item item-divider">
      {{ ctrl.displayedDate | date:'MMMM y' }} Timings
    </div>
    <div class='item item-text-wrap' ng-if="!ctrl.isLoading && (ctrl.monthTimings == null || ctrl.monthTimings.length == 0)">
      Couldn't get any timings for {{ ctrl.displayedDate | date:'MMMM y' }}.
    </div>
    <div class="item item-text-wrap" ng-if="ctrl.monthTimings">
      <ion-scroll direction="xy" locking="true" class='table-wrapper'>
        <table class='iqamah-times-table'>
          <tr
            ng-repeat-start="timing in ctrl.monthTimings"
            ng-if="$index % 7 == 0"
            class='table-headers'>
            <th>Day</th>
            <th ng-if="timing.hijri_date">
              Hijri Date
            </th>
            <th colspan="2">
              Fajr
            </th>
            <th>
              Sunrise
            </th>
            <th colspan="2">
              Dhuhr
            </th>
            <th colspan="2">
              Asr
            </th>
            <th colspan="2">
              Maghrib
            </th>
            <th colspan="2">
              Isha
            </th>
          </tr>
          <tr
            ng-if="$index % 7 == 0"
            class='timing-type-row'>
            <th></th>
            <th ng-if="timing.hijri_date"></th>
            <th>
              Adhan
            </th>
            <th>
              Iqamah
            </th>
            <th>
              <!-- sunrise -->
            </th>
            <th>
              Adhan
            </th>
            <th>
              Iqamah
            </th>
            <th>
              Adhan
            </th>
            <th>
              Iqamah
            </th>
            <th>
              Adhan
            </th>
            <th>
              Iqamah
            </th>
            <th>
              Adhan
            </th>
            <th>
              Iqamah
            </th>
          </tr>
          <tr
            ng-repeat-end
            class='timing-row'
            ng-class="{'active': ctrl.isToday(timing)}">
            <td
              class='day'>
              {{ timing.date | date:'EEE d' }}
            </td>
            <td
              ng-if="timing.hijri_date"
              class='day'>
              {{ timing.hijri_date }}
            </td>
            <td class='time adhan-time'>
              {{ timing.fajr_adhan }}
            </td>
            <td class='time iqamah-time'>
              {{ timing.fajr }}
            </td>
            <td class='time adhan-time'>
              {{ timing.sunrise_adhan }}
            </td>
            <td class='time adhan-time'>
              {{ timing.dhuhr_adhan }}
            </td>
            <td class='time iqamah-time'>
              {{ timing.dhuhr }}
            </td>
            <td class='time adhan-time'>
              {{ timing.asr_adhan }} <span ng-if="timing.asr_adhan_extra"> / {{ timing.asr_adhan_extra }} </span>
            </td>
            <td class='time iqamah-time'>
              {{ timing.asr }}
            </td>
            <td class='time adhan-time'>
              {{ timing.maghrib_adhan }}
            </td>
            <td class='time iqamah-time'>
              {{ timing.maghrib }}
            </td>
            <td class='time adhan-time'>
              {{ timing.isha_adhan }}
            </td>
            <td class='time iqamah-time'>
              {{ timing.isha }}
            </td>
          </tr>
          <tr>
            <td colspan="100">
              <div class="monthly-info" ng-bind-html="ctrl.monthlyInfo"></div>
            </td>
          </tr>
        </table>
      </ion-scroll> <!-- end table-wrapper -->
    </div>
    <div class="item">
      <p>Scroll to the bottom to see monthly info.</p>
    </div>

  </ion-content>
</ion-view>
