<ion-view>
  <ion-nav-title>
    {{ ctrl.masjid ? ctrl.masjid.name : 'Masjid Not Set' }}

  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button" ng-disabled="ctrl.isLoading" ng-click="ctrl.showDatePicker()">
      <i class='ion-calendar'></i>
    </button>
  </ion-nav-buttons>
  <ion-content class='daily-timings'>
    <div class='loading' ng-if='ctrl.isLoading'>
      Loading... <ion-spinner></ion-spinner>
    </div>
    <div class='error' ng-if='ctrl.errorMsg'>
      {{ ctrl.errorMsg }}
    </div>
    <ion-refresher
      ng-if="ctrl.masjid"
      pulling-text="Pull to refresh..."
      on-refresh="ctrl.refresh()">
    </ion-refresher>

    <div class='card' ng-if="ctrl.timings.length == 0">
      <p class="item item-text-wrap">
        No timings were found for the rest of this month.
      </p>
    </div>

    <div class='card' ng-if="ctrl.displayedDate && ctrl.displayedDate.getMonth() != ctrl.today.getMonth()" ng-click="ctrl.resetDate()">
      <div class='item item-text-wrap'>
        <i class='ion-alert-circled'></i> Timings for {{ ctrl.displayedDate | date:'MMMM y' }}.<br/>
        Tap to show this month's timings.
      </div>
    </div>
    <div class="card" ng-hide="ctrl.errorMsg" ng-repeat="timing in ctrl.timings">
      <div class="item item-divider">
        <span
          class="gregorian-date">
          <span ng-if="ctrl.isToday(timing.date)">
            Today,
          </span>
          <span ng-if="ctrl.isTomorrow(timing.date)">
            Tomorrow,
          </span>
          {{ ctrl.getDate(timing) | date:'EEEE, MMM dd, y' }}
        </span>
        <span
          ng-if="timing.hijri_date"
          class='hijri-date'>
          {{ timing.hijri_date }}
        </span>
      </div>
      <div class="item item-text-wrap" ng-if="timing">
        <table class='iqamah-times-table'>
          <tr>
            <th></th>
            <th>Adhan</th>
            <th>Iqamah</th>
          </tr>

          <tr class='next-salah-row' ng-repeat-start="salahKey in ctrl.salahKeys">
            <td colspan="99" ng-if="ctrl.isToday(timing.date) && ctrl.nextIqamah(timing) == salahKey">
              <p>Coming up</p>
            </td>
          </tr>
          <tr class='iqamah-row {{salahKey}}' ng-class="{'current': ctrl.isToday(timing.date) && ctrl.nextIqamah(timing) == salahKey, 'past': ctrl.isToday(timing.date) && (salahKey == 'sunrise' || ctrl.isIqamahPast(timing, salahKey)) }">
            <td class='salah-name'>
              {{ ctrl.salahNames[salahKey] }}
            </td>
            <td class='adhan-time'>
              {{ timing[salahKey + "_adhan"] || "---" }}
              <span ng-if="salahKey == 'asr' && timing['asr_adhan_extra']"> / <br/>{{ timing["asr_adhan_extra"] }}</span>
            </td>
            <td class='iqamah-time'>
              {{ timing[salahKey] || "---" }}
            </td>
          </tr>
          <tr class="end-day-row" ng-repeat-end>
            <td colspan="99" ng-if="ctrl.isToday(timing.date) && ctrl.nextIqamah(timing) == null && salahKey == 'isha'">
              <p>Tomorrow's a new day</p>
            </td>
          </tr>
        </table>
      </div>
      <div ng-if="ctrl.monthlyInfo"
        class="item monthly-info"
        ng-bind-html="ctrl.monthlyInfo"></div>
    </div>


    <button class="button button-full" ng-disabled="ctrl.isLoading" ng-click="ctrl.showDatePicker()">
      <i class='ion-calendar'></i> View Other Months
    </button>

  </ion-content>
</ion-view>
