<ion-view>
  <ion-nav-title>
    {{ ctrl.masjid ? ctrl.masjid.name : 'Masjid Not Set' }}

  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button" ng-disabled="ctrl.isLoading" ng-click="ctrl.showDatePicker()">
      <i class='ion-calendar'></i>
    </button>
  </ion-nav-buttons>
  <ion-content class='daily-timings'>
    <div class='loading' ng-if='ctrl.isLoading'>
      Loading... <ion-spinner></ion-spinner>
    </div>
    <div class='error' ng-if='ctrl.errorMsg'>
      {{ ctrl.errorMsg }}
    </div>
    <ion-refresher
      ng-if="ctrl.masjid"
      pulling-text="Pull to refresh..."
      on-refresh="ctrl.refresh()">
    </ion-refresher>

    <div class='card' ng-if="ctrl.displayedDate && !ctrl.isToday(ctrl.displayedDate)" ng-click="ctrl.resetDate()">
      <div class='item item-text-wrap'>
        <i class='ion-alert-circled'></i> Timings for {{ ctrl.displayedDate | date:'EEEE, MMMM dd, y' }}.<br/>
        Tap to show today's timings.
      </div>
    </div>

    <div class="card" ng-hide="ctrl.errorMsg">
      <div class="item item-divider">
        Daily Timings
      </div>
      <div class="item item-text-wrap" ng-if="ctrl.dayTimings">

        <div class='timing-date' ng-class="{old: !ctrl.isTimingForOlderDate(ctrl.dayTimings)}">
          From {{ ctrl.getDate(ctrl.dayTimings) | date:'EEEE, MMMM dd, y' }}
          <div
            ng-if="ctrl.dayTimings.hijri_date"
            class='hijri-date'>
            {{ ctrl.dayTimings.hijri_date }}
          </div>
          <span ng-if="!ctrl.isTimingForOlderDate(ctrl.dayTimings)">
            These timings may be out of date.
          </span>
        </div>
        <table class='iqamah-times-table'>
          <tr>
            <th></th>
            <th>Adhan</th>
            <th>Iqamah</th>
          </tr>
          <tr class='iqamah-row {{salahKey}}' ng-repeat="salahKey in ctrl.salahKeys">
            <td class='salah-name'>
              <span class="next-iqamah-indicator" ng-if="ctrl.nextIqamah(ctrl.dayTimings) == salahKey">
                <i class="ion-ionic"></i>
              </span>
              {{ ctrl.salahNames[salahKey] }}
            </td>
            <td class='adhan-time'>
              {{ ctrl.dayTimings[salahKey + "_adhan"] || "---" }}
            </td>
            <td class='iqamah-time'>
              {{ ctrl.dayTimings[salahKey] || "---" }}
            </td>
          </tr>
        </table>
      </div>
      <div ng-if="ctrl.monthlyInfo"
        class="item monthly-info"
        ng-bind-html="ctrl.monthlyInfo"></div>
    </div>

  </ion-content>
</ion-view>
