<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Choose Date</h1>
    <button class="button button-clear button-primary" ng-click="datePickerModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="DatePickerModalCtrl as ctrl">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="ctrl.datePicker.date" type="date">
      </label>
      <button class="button button-full button-positive" ng-click="datePickerModal.hide(); loadTimingsForDate(ctrl.datePicker.date)">Show Timings</button>
      or
      <button class="button button-full button-default" ng-click="datePickerModal.hide(); loadTimingsForDate(ctrl.tomorrow)">Tomorrow's Timings</button>
    </div>
  </ion-content>
</ion-modal-view>
