<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Choose Date</h1>
    <button class="button button-clear button-primary" ng-click="datePickerModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding" ng-controller="DatePickerModalCtrl as ctrl">
    <div class="list">
      <button ng-repeat="month in ctrl.allMonths" class="button button-full button-neutral"
        ng-click="ctrl.monthClicked(month, $index)">
          {{ month }}
      </button>
  </ion-content>
</ion-modal-view>
