<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">MyMasjid by MasjidNow</h1>
    </ion-header-bar>
    <ion-content class='side-menu'>
      <ion-list>
        <ion-item
          ng-if="global.selectedMasjid"
          ng-click="ctrl.toggleShowingOtherMasjids()"
          class='current-masjid'
          ng-class="{'with-image-background': (global.selectedMasjid.cover_photo_url != null)}"
          ng-style="ctrl.selectedMasjidStyle">
          <i class="expander-icon ion-chevron-down" ng-class="{'expanded': ctrl.showingOtherMasjids, 'contracted': !ctrl.showingOtherMasjids}"></i>
          {{ global.selectedMasjid.name }}<br/>
          <span class='address'>
            {{ global.selectedMasjid.address }}
          </span>
        </ion-item>
        <div ng-if="ctrl.showingOtherMasjids">
          <ion-item
            ng-if="ctrl.showingOtherMasjids"
            ng-repeat="masjid in otherMasjids track by masjid.id"
            ng-click="ctrl.setSelectedMasjid(masjid) && ctrl.toggleShowingOtherMasjids() && ctrl.hideSideMenu()"
            class='other-masjid item-button-right'
            menu-close>
            <span class='ion-ios-checkmark-outline'></span>
            {{ masjid.name }}

            <button
              ng-click="ctrl.removeMasjid(masjid); $event.stopPropagation();"
              class="button button-clear"
              >
              <i class="icon ion-close-round"></i>
            </button>
          </ion-item>
          <ion-item
            ng-click="ctrl.openChild('app.search')"
            class='other-masjid'
            menu-close>
            <i class='ion-plus'></i>
            Add Masjid
          </ion-item>
        </div>
        <div ng-if="!ctrl.showingOtherMasjids">
          <ion-item menu-close
            ui-sref="app.dailyTimings"
            ng-if="global.selectedMasjid">
            <i class='ion-clock'></i>
            Prayer Timings
          </ion-item>
          <ion-item menu-close
            ui-sref="app.monthlyTimings"
            ng-if="global.selectedMasjid">
            <i class='ion-calendar'></i>
            Monthly Calendar
          </ion-item>
          <ion-item menu-close
            ui-sref="app.pushMessages"
            ng-if="global.selectedMasjid">
            <i class='ion-chatbox'></i>
            Messages
          </ion-item>
          <ion-item menu-close
            ui-sref="app.masjidDetails"
            ng-if="global.selectedMasjid">
            <i class='ion-information-circled'></i>
            Masjid Info
          </ion-item>
          <ion-item menu-close
            ng-if="ctrl.canNavigate()"
            ng-click="ctrl.navigateToMasjid(global.selectedMasjid)">
            <i class='ion-navigate'></i>
            Directions To...
          </ion-item>
          <div class='item-divider'></div>
          <ion-item
            ng-click="ctrl.openChild('app.search')"
            menu-close>
            <i class='ion-plus'></i>
            Add Masjid
          </ion-item>
        </div>
        <ion-item ng-if="!ctrl.pushesAreEnabled" class='item-text-wrap push-not-enabled'>
          <p>
            <i class='ion-alert-circled'></i>
            Enable push notifications to receive messages. Go to your device's Settings
            and enable Push Notifications for this app.
          </p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
